@using AspStudentPortal.Models
@model LoginViewModel
@{
    ViewBag.Title = "Se connecter";
     Layout = "~/Views/Shared/_layout.cshtml";
}


    <div class="main-page login-page" style="padding : 80px 0 ; margin-left : 30%">
        <h2 class="title1">Login</h2>
        <div class="widget-shadow">
            <div class="login-body">
                @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                {
                    @Html.AntiForgeryToken()

                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    <div class="form-group">
                        @Html.Label("" ,  new { @class = "col-md-2 control-label" })
                        <i class="fa fa-user" style="float :left "></i>
                        <div class="col-md-10">
                            @Html.TextBoxFor(m => m.Username, new { @class = "form-control" })
                            @Html.ValidationMessageFor(m => m.Username, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.Label("", new { @class = "col-md-2 control-label" })
                        <i class="fa fa-lock" style="float :left "></i>
                        <div class="col-md-10">
                            @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
                            @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-10">
                            <div class="checkbox">
                                @Html.CheckBoxFor(m => m.RememberMe)
                                @Html.LabelFor(m => m.RememberMe)
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-10">
                            <input type="submit" value="Login" class="btn btn-success" />
                        </div>
                    </div>

                }
               </div>
            </div>
            </div>

