@using System.Data;
@model IEnumerable<AspStudentPortal.Models.ObjFile>
    <link rel="stylesheet" type="text/css" href="//cdn.datatables.net/1.10.12/css/jquery.dataTables.min.css" />
    <style type="text/css">
        .btn {
            width: 100px;
            height: 40px;
            background: #00BCD4;
            border-style: solid;
            border-color: white;
            color: white;
        }

        .gridborder {
            border-top: 1px solid #DED8D8;
        }
    </style>

    <div style="border: 1px solid #DED8D8; width: 950px; margin-left: 25% ; padding : 10% 0 ;  font-family: Arial;">
        @using (@Html.BeginForm(null, null, FormMethod.Post,
         new { enctype = "multipart/form-data" }))
        {
            if (TempData["Message"] != null)
            {

                <p style="font-family: Arial; font-size: 16px; font-weight: 200; color: red">@TempData["Message"]</p>
            }
         
          
                <div class="main-page login-page ">
                    <h2 class="title1">Classe form</h2>
                    <div class="widget-shadow">
                        <div class="login-body">
                            @using (@Html.BeginForm(null, null, FormMethod.Post,
                               new { enctype = "multipart/form-data" }))
                            {
                                if (TempData["Message"] != null)
                                {
                                    <p style="font-family: Arial; font-size: 16px; font-weight: 200; color: red">@TempData["Message"]</p>
                                }
                                <div class="form-group">
                                    <input type="file" name="files" id="files" multiple="multiple" />
                                </div>
                                <div class="form-group">
                                    <input type="submit" class="btn" name="submit" />
                                </div>


                            }
                        </div>
                    </div>
               
            </div>


        }
        <table class="gridborder row-borderhover order-column dataTable no-footer">
            <tr>
                <th class="sorting_asc">
                    @Html.DisplayNameFor(model => model.File)
                </th>
                <th class="sorting">
                    @Html.DisplayNameFor(model => model.Size)
                </th>
                <th class="sorting">
                    @Html.DisplayNameFor(model => model.Type)
                </th>
                <th class="sorting">
                    @Html.DisplayNameFor(model => model.course.id)
                </th>
                <th class="sorting"></th>
            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    <td class="sorting_1">
                        @Html.DisplayFor(modelItem => item.File)
                    </td>
                    <td class="sorting_1">
                        @Html.DisplayFor(modelItem => item.Size)
                    </td>
                    <td class="sorting_1">
                        @Html.DisplayFor(modelItem => item.Type)
                    </td>
                    <td class="sorting_1">
                        @Html.DisplayFor(modelItem => item.courseId)
                    </td>
                    <th class="sorting">
                        @Html.ActionLink("Download", "Download", new { fileName = item.File })
                    </th>
                </tr>

            }
        </table>
    </div>
